.radial-progress {
  margin: 50px;
  width: 120px;
  height: 120px;
  background-color: #d6dadc;
  border-radius: 50%;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle{
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  border-radius: 50%;
}
.radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #d6dadc;
}
.radial-progress .inset {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #ecf0f1;
  border-radius: 50%;
}
.radial-progress .inset .percentage {
  height: 22px;
  width: 57px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  left: 16.5px;
  line-height: 1;
}
.radial-progress .inset .percentage .numbers {
  margin-top: -22px;
  transition: width 1s;
}
.radial-progress .inset .percentage .numbers span {
  width: 57px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffb02f;
}
.radial-progress[data-progress="0"] .circle .mask.full,
.radial-progress[data-progress="0"] .circle .fill {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.radial-progress[data-progress="0"] .circle .fill.fix {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.radial-progress[data-progress="0"] .inset .percentage .numbers {
  width: 57px;
}
.radial-progress[data-progress="1"] .circle .mask.full,
.radial-progress[data-progress="1"] .circle .fill {
  -webkit-transform: rotate(1.8deg);
  -ms-transform: rotate(1.8deg);
  transform: rotate(1.8deg);
}
.radial-progress[data-progress="1"] .circle .fill.fix {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.radial-progress[data-progress="1"] .inset .percentage .numbers {
  width: 114px;
}
.radial-progress[data-progress="2"] .circle .mask.full,
.radial-progress[data-progress="2"] .circle .fill {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.radial-progress[data-progress="2"] .circle .fill.fix {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.radial-progress[data-progress="2"] .inset .percentage .numbers {
  width: 171px;
}
.radial-progress[data-progress="3"] .circle .mask.full,
.radial-progress[data-progress="3"] .circle .fill {
  -webkit-transform: rotate(5.4deg);
  -ms-transform: rotate(5.4deg);
  transform: rotate(5.4deg);
}
.radial-progress[data-progress="3"] .circle .fill.fix {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.radial-progress[data-progress="3"] .inset .percentage .numbers {
  width: 228px;
}
.radial-progress[data-progress="4"] .circle .mask.full,
.radial-progress[data-progress="4"] .circle .fill {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.radial-progress[data-progress="4"] .circle .fill.fix {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.radial-progress[data-progress="4"] .inset .percentage .numbers {
  width: 285px;
}
.radial-progress[data-progress="5"] .circle .mask.full,
.radial-progress[data-progress="5"] .circle .fill {
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}
.radial-progress[data-progress="5"] .circle .fill.fix {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.radial-progress[data-progress="5"] .inset .percentage .numbers {
  width: 342px;
}
.radial-progress[data-progress="6"] .circle .mask.full,
.radial-progress[data-progress="6"] .circle .fill {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.radial-progress[data-progress="6"] .circle .fill.fix {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.radial-progress[data-progress="6"] .inset .percentage .numbers {
  width: 399px;
}
.radial-progress[data-progress="7"] .circle .mask.full,
.radial-progress[data-progress="7"] .circle .fill {
  -webkit-transform: rotate(12.6deg);
  -ms-transform: rotate(12.6deg);
  transform: rotate(12.6deg);
}
.radial-progress[data-progress="7"] .circle .fill.fix {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.radial-progress[data-progress="7"] .inset .percentage .numbers {
  width: 456px;
}
.radial-progress[data-progress="8"] .circle .mask.full,
.radial-progress[data-progress="8"] .circle .fill {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.radial-progress[data-progress="8"] .circle .fill.fix {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.radial-progress[data-progress="8"] .inset .percentage .numbers {
  width: 513px;
}
.radial-progress[data-progress="9"] .circle .mask.full,
.radial-progress[data-progress="9"] .circle .fill {
  -webkit-transform: rotate(16.2deg);
  -ms-transform: rotate(16.2deg);
  transform: rotate(16.2deg);
}
.radial-progress[data-progress="9"] .circle .fill.fix {
  -webkit-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.radial-progress[data-progress="9"] .inset .percentage .numbers {
  width: 570px;
}
.radial-progress[data-progress="10"] .circle .mask.full,
.radial-progress[data-progress="10"] .circle .fill {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.radial-progress[data-progress="10"] .circle .fill.fix {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.radial-progress[data-progress="10"] .inset .percentage .numbers {
  width: 627px;
}
.radial-progress[data-progress="11"] .circle .mask.full,
.radial-progress[data-progress="11"] .circle .fill {
  -webkit-transform: rotate(19.8deg);
  -ms-transform: rotate(19.8deg);
  transform: rotate(19.8deg);
}
.radial-progress[data-progress="11"] .circle .fill.fix {
  -webkit-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.radial-progress[data-progress="11"] .inset .percentage .numbers {
  width: 684px;
}
.radial-progress[data-progress="12"] .circle .mask.full,
.radial-progress[data-progress="12"] .circle .fill {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.radial-progress[data-progress="12"] .circle .fill.fix {
  -webkit-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.radial-progress[data-progress="12"] .inset .percentage .numbers {
  width: 741px;
}
.radial-progress[data-progress="13"] .circle .mask.full,
.radial-progress[data-progress="13"] .circle .fill {
  -webkit-transform: rotate(23.400000000000002deg);
  -ms-transform: rotate(23.400000000000002deg);
  transform: rotate(23.400000000000002deg);
}
.radial-progress[data-progress="13"] .circle .fill.fix {
  -webkit-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.radial-progress[data-progress="13"] .inset .percentage .numbers {
  width: 798px;
}
.radial-progress[data-progress="14"] .circle .mask.full,
.radial-progress[data-progress="14"] .circle .fill {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.radial-progress[data-progress="14"] .circle .fill.fix {
  -webkit-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.radial-progress[data-progress="14"] .inset .percentage .numbers {
  width: 855px;
}
.radial-progress[data-progress="15"] .circle .mask.full,
.radial-progress[data-progress="15"] .circle .fill {
  -webkit-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  transform: rotate(27deg);
}
.radial-progress[data-progress="15"] .circle .fill.fix {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}
.radial-progress[data-progress="15"] .inset .percentage .numbers {
  width: 912px;
}
.radial-progress[data-progress="16"] .circle .mask.full,
.radial-progress[data-progress="16"] .circle .fill {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.radial-progress[data-progress="16"] .circle .fill.fix {
  -webkit-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.radial-progress[data-progress="16"] .inset .percentage .numbers {
  width: 969px;
}
.radial-progress[data-progress="17"] .circle .mask.full,
.radial-progress[data-progress="17"] .circle .fill {
  -webkit-transform: rotate(30.6deg);
  -ms-transform: rotate(30.6deg);
  transform: rotate(30.6deg);
}
.radial-progress[data-progress="17"] .circle .fill.fix {
  -webkit-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.radial-progress[data-progress="17"] .inset .percentage .numbers {
  width: 1026px;
}
.radial-progress[data-progress="18"] .circle .mask.full,
.radial-progress[data-progress=…