*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 300;
}
html {
    background-color: #0085A1;
}

article{
    display:block;
}
:focus{
    outline: none; 
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


h1, h2{
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 350%;
    padding: 20px;
    font-weight: 400;
}
h2{
    font-size: 14pt;
    margin-top:-5px;
    padding-bottom:20px;
}

h3{
    font-size: 16pt;
    font-weight: 500;
}

h4{
    font-size: 14pt;
}

h5{
    font-size: 9pt;
    text-align: right;
    padding-top: 10px;
}

article.parent{
    min-height: 95vh;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (min-width:820px){
    @media screen and (min-height:820px){
       article.parent{
           min-height: 96vh;
       } 
    }
}
article.child{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    padding: 30px;
}

article.child:after{
    clear: both;
    content: "";
    display: block;
}

@media screen and (max-width:320px){
    h1{
        font-size: 250%;
    }
    h4{
        font-size: 12pt;
    }
}

.fadeIn{
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.overlayFadeIn{
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.fadeOut{
    opacity: 0 !important;
}

.preventScroll{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height:100vh;
    width:100vw;
}
#loading{
    position:fixed;
    height: 100vh;
    width: 100vw;
    background-color: #e67e22;
    z-index: 1001;
    opacity: 1;
    display: table;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.loader{
    z-index: 1002;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
}

.loader figcaption{
    font-size: 260%;
    font-weight: 900;
    color: #ffb02f;
    font-family: sans-serif;
}
.sendToBack{
    z-index: -1 !important;
}

article.parent#about{
    background-color:#0085A1;
    color: #EEEEEE;
    min-height: 100vh;
}
/* about */
#about h1{
    padding-bottom: 30px;
}
#about h3{
    font-size:30px;
    font-weight: 400;
}

#about h4{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 2px;
}

#about .blockWord{
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#about p{
     line-height: 21px;
     width: 60%;
     text-align: justify;
     -ms-text-justify: inter-word;
     text-justify: inter-word;
     padding-bottom:30px
}
#about img{
    max-width: 300px;
    max-height: 300px;
    float: right;
    width:100%;
    height: 300px;
    border: solid 5px rgba(255, 255, 255, .1);
    border-radius: 180px;
    display: block;
    margin: 0 auto;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#about .content{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#aboutHello{
    margin-left: -300px;
}

#about .bold{
    font-size:inherit;
    font-weight:inherit;
    color: #ffb02f;
}

.rw-sentence{
	margin: 0;
    padding-top: 50px;
}
.rw-sentence span{
	font-size: 200%;
	font-weight: 400;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #e67e22;
	font-size: 250%;
    font-weight: 500;
	margin-top: 1.5px;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}

.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
    .rw-words-1 span{
        margin-top: 1px;
    }
}
@media screen and (max-width:500px){
    #aboutHello{
        text-align: left;
    }
    .rw-words-1 span{
        font-size: 215%;
        font-weight: 500;
        margin-top: -28px;
    }
    .rw-words{
        display: inline-block;
    }
}
@media screen and (max-width: 400px){
	.rw-sentence { font-size: 9px; }
    .rw-words-1 span{
        font-size: 130%;
        margin-top: -17px;
    }
    .rw-words{
        text-indent: 5px;
    }
    #aboutHello{
        margin-left: -150px;
    }
    #about span{
        padding: 0;
    }
}

#about a:visited, #about a:hover, #about a:link{
    color:white;
    text-decoration:none;
}

@media screen and (max-width: 900px) {
    #about {
        text-align: center;
    }

    #about h1{
        padding-top: 40px;
    }

    #about img{
        float: none;
    }

    #about p{
        width:100%;
    }
    
    #about span{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 400px) {
    #about img{
        height: 250px;
        width:250px;
    }
}
nav {
    height: 40px;
    width: 100%;
    background: #e67e22;
    font-size: 11pt;
    text-transform: uppercase;
    position: fixed;
    z-index: 1000;
    border-bottom: 2px solid #ffb02f;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: #ffb02f;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
}

nav li:first-child a:hover{
    background-color:#e67e22; 
    cursor: default;
}

nav a#pull {
    display: none;
}

@media screen and (max-width: 600px) {
    nav li:first-child{
        display: none;
    }
    nav { 
        height: auto;
        border-bottom: 0;
    }
    nav ul {
        width: 100%;
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: none;
        position: relative;
        display: block;
        background-color:#ffb02f; 
    }
    nav li a {
        border-bottom: 1px solid #e67e22;
    }
    nav a {
        text-align: center;
        width: 100%;
    }
    nav a#pull {
        display: block;
        background-color: #e67e22;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('./images/nav/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    nav a:hover, nav a:active {
        background-color: #e67e22;
    }
    nav li:last-child a {
        border-bottom:solid thin #e67e22;
    }
    nav li:last-child a:hover {
        border-bottom:solid thin #ffb02f;
    }
}