/* Basic Styles */
html {
    background-color: #0085A1;
}

article{
    display:block;
}

.button{
    background-color: #e67e22;
    background-image: none;
    padding: 16px;
    color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.button:hover{
    background-color:#ffb02f;
    transition: .25s;
    cursor:pointer;
}

:focus{
    outline: none; 
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

/* navigation */
nav {
    height: 40px;
    width: 100%;
    background: #e67e22;
    font-size: 11pt;
    text-transform: uppercase;
    position: fixed;
    z-index: 1000;
    border-bottom: 2px solid #ffb02f;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: #ffb02f;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
}

nav li:first-child a:hover{
    background-color:#e67e22; 
    cursor: default;
}

nav a#pull {
    display: none;
}

@media screen and (max-width: 600px) {
    nav li:first-child{
        display: none;
    }
    nav { 
        height: auto;
        border-bottom: 0;
    }
    nav ul {
        width: 100%;
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: none;
        position: relative;
        display: block;
        background-color:#ffb02f; 
    }
    nav li a {
        border-bottom: 1px solid #e67e22;
    }
    nav a {
        text-align: center;
        width: 100%;
    }
    nav a#pull {
        display: block;
        background-color: #e67e22;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('./images/nav/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    nav a:hover, nav a:active {
        background-color: #e67e22;
    }
    nav li:last-child a {
        border-bottom:solid thin #e67e22;
    }
    nav li:last-child a:hover {
        border-bottom:solid thin #ffb02f;
    }
}

/* articles */
h1, h2{
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 350%;
    padding: 20px;
    font-weight: 400;
}
h2{
    font-size: 14pt;
    margin-top:-5px;
    padding-bottom:20px;
}

h3{
    font-size: 16pt;
    font-weight: 500;
}

h4{
    font-size: 14pt;
}

h5{
    font-size: 9pt;
    text-align: right;
    padding-top: 10px;
}

article.parent{
    min-height: 95vh;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (min-width:820px){
    @media screen and (min-height:820px){
       article.parent{
           min-height: 96vh;
       } 
    }
}

.fadeIn{
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.overlayFadeIn{
    opacity: 1;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.fadeOut{
    opacity: 0 !important;
}

article.parent#about{
    background-color:#0085A1;
    color: #EEEEEE;
    min-height: 100vh;
}

article.parent#skills{
    background-color: #ecf0f1;
}

article.parent#career{
    background-color: #bdc3c7;
    padding-bottom: 50px;
}

article.parent#portfolio{
    background-color: #6B7F8C;
    padding-bottom: 10px;
}

article.parent#contact{
    background-color:#34495e;
}

article.child{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    padding: 30px;
}

article.child:after{
    clear: both;
    content: "";
    display: block;
}

@media screen and (max-width:320px){
    h1{
        font-size: 250%;
    }
    h4{
        font-size: 12pt;
    }
}

/* CONTACT */
#contact {
    color: #ffb02f;
}

#contact .scrolloff {
        pointer-events: none;
}

#contact .map{
    width: 100%;
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;
    cursor:pointer;
}

#contact iframe{
    width: 100%;
    height: 250px;
    max-width: 1000px;
    margin: 0 auto;
    border: dashed 4px rgba(10, 10, 10, .5);
}

/* contact form */
#contact form{
    width: 544px;
    margin: 0 auto;
}

#contact form legend{
    font-size: 15pt;
    padding: 28px 0 0 0;
    text-transform: uppercase;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea{
    border: none;
    background-color: #4A6075;
    padding: 12px;
    color: white;
    margin: 15px 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}

#contact input[type="text"], #contact input[type="email"]{
    width: 260px;
}

#contact input{
    width: 200px;
    border: none; 
    margin-top: 10px;
}

#contact textarea{
    width: 100%;
    height:100px;
    resize: none;
}

input[type="email"]{
    float:right;
}

input.button{
    text-transform: uppercase; 
}

@media screen and (max-width: 610px){
    #contact form{
        width:100%;
        padding: 0;
    }
    #contact input[type="text"], #contact input[type="email"], #contact textarea{
        width:100%;
        padding:16px;
    }
    input[type="email"]{
        float:none;
        margin-top:20px;
    }
}

@media screen and (max-width: 470px){
     #contact form{
        width: 92%;
    }
}

/* about */
#about h1{
    padding-bottom: 30px;
}
#about h3{
    font-size:30px;
    font-weight: 400;
}

#about h4{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 2px;
}

#about .blockWord{
    display: inline-block;
    width: auto;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#about p{
     line-height: 21px;
     width: 60%;
     text-align: justify;
     -ms-text-justify: inter-word;
     text-justify: inter-word;
     padding-bottom:30px
}
#about img{
    max-width: 300px;
    float: right;
    width:100%;
    border: solid 5px rgba(255, 255, 255, .1);
    border-radius: 180px;
}

#about .content{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#aboutHello{
    margin-left: -300px;
}

#about .bold{
    font-size:inherit;
    font-weight:inherit;
    color: #ffb02f;
}

.rw-sentence{
	margin: 0;
    padding-top: 50px;
}
.rw-sentence span{
	font-size: 200%;
	font-weight: 400;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #e67e22;
	font-size: 250%;
    font-weight: 500;
	margin-top: 1.5px;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}

.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
    .rw-words-1 span{
        margin-top: 1px;
    }
}
@media screen and (max-width:500px){
    #aboutHello{
        text-align: left;
    }
    .rw-words-1 span{
        font-size: 215%;
        font-weight: 500;
        margin-top: -28px;
    }
    .rw-words{
        display: inline-block;
    }
}
@media screen and (max-width: 400px){
	.rw-sentence { font-size: 9px; }
    .rw-words-1 span{
        font-size: 130%;
        margin-top: -17px;
    }
    .rw-words{
        text-indent: 5px;
    }
    #aboutHello{
        margin-left: -150px;
    }
    #about span{
        padding: 0;
    }
}

#about a:visited, #about a:hover, #about a:link{
    color:white;
    text-decoration:none;
}

@media screen and (max-width: 900px) {
    #about {
        text-align: center;
    }

    #about h1{
        padding-top: 40px;
    }

    #about img{
        float: none;
    }

    #about p{
        width:100%;
    }
    
    #about span{
        padding-bottom: 30px;
    }
}

/* Skills */
#skills .child{
    padding: 15px 30px 0 30px;
}

#skills h1{
    color: #e67e22;
    padding: 10px 0 0 0;
}

#skills h5{
    text-align: center;
    font-size: 20px;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom:20px;
    font-weight: 600;
    color: #34495e;
}

#skills ul{
    list-style-type: none;
    margin: 0 auto;
    width: 970px;
    min-height: 50vh;
}

#skills ul li{
    float: left;
    padding: 20px;
    width: 190px;
}

.skills-sprite {
    background-image: url(images/skills.png);
    background-repeat: no-repeat;
    display: block;
}

.bugs {
    width: 211px;
    height: 180px;
    background-position: 7px 12px;
    background-size: 300px;
}

.html {
    width: 100px;
    height: 100px;
    background-position: -306px -14px;
}

.java {
    width: 94px;
    height: 100px;
    background-position: -302px -201px;
}

.net {
    width: 100px;
    height: 41px;
    background-position: -14px -352px;
}

.node {
    width: 100px;
    height: 100px;
    background-position: -486px -18px;
}

.php {
    width: 87px;
    height: 100px;
    background-position: -475px -192px;
}

.python {
    width: 100px;
    height: 100px;
    background-position: -196px -376px;
}

.mongo-sql {
    width: 100px;
    height: 100px;
    background-position: -375px -375px
}

@media screen and (max-width: 1045px) {
    #skills ul{
        width: 707px;
        min-height: 85vh
    }
    #skills li:nth-child(3n + 1) {  /* or 4n+1 */
        clear: both;   
    }
}

@media screen and (max-width: 765px) {
    #skills ul{
        width: 477px;
        min-height: 130vh;
    }
    #skills li:nth-child(3n + 1) {  /* or 4n+1 */
        clear: none;   
    }
}
@media screen and (max-width: 540px) {
    #skills ul{
        width: 220px;
    }
    #skills ul li{
        float: none;
    }
}

/* career */
#career h1{
    color: #0085A1;
}

#career p{
    font-style: italic;
    padding-left: 10px;
}

/* portfolo */

#portfolio h1{
    color: white;
    padding: 0;
    padding-bottom: 15px;
}

#portfolio ol{
    max-width: 1016px;
    margin: 0 auto;
    padding-bottom: 40px;
}

#portfolio li{
    display:inline-block;
    padding-right: 4px;
}

#portfolio a{
    height: 250px;
    width: 250px;
    display: block;
    position: relative;
    z-index: 100;
}

#myWebGrocer{
    cursor:not-allowed;
}

#portfolio a:hover div{
    opacity: .35;
}

#portfolio .img{
  -o-transition:color .2s ease-out, opacity .25s ease-in;
  -ms-transition:color .2s ease-out, opacity .25s ease-in;
  -moz-transition:color .2s ease-out, opacity .25s ease-in;
  -webkit-transition:color .2s ease-out, opacity .25s ease-in;
  transition:color .2s ease-out, opacity .25s ease-in;
}

.portfolio-sprite{
  background-image: url(./images/portfolio.png);
  background-repeat: no-repeat;
  display: block;
}

.birthdayCalculator {
    width: 250px;
    height: 250px;
    background-position: -5px -5px;
}

.myWebGrocer {
    width: 250px;
    height: 250px;
    background-position: -265px -5px;
}

.resume {
    width: 250px;
    height: 250px;
    background-position: -525px -5px;
}

.sorryStats {
    width: 250px;
    height: 250px;
    background-position: -785px -5px;
}

.speechTherapyGames {
    width: 250px;
    height: 250px;
    background-position: -1045px -5px;
}

.uvmCEMS {
    width: 250px;
    height: 250px;
    background-position: -1305px -5px;
}

.uvmTheatre {
    width: 250px;
    height: 250px;
    background-position: -1565px -5px;
}

.worksAndDaysFarm {
    width: 250px;
    height: 250px;
    background-position: -1825px -5px;
}

#portfolio h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  -o-transition:color .2s ease-out, opacity .25s ease-in;
  -ms-transition:color .2s ease-out, opacity .25s ease-in;
  -moz-transition:color .2s ease-out, opacity .25s ease-in;
  -webkit-transition:color .2s ease-out, opacity .25s ease-in;
  transition:color .2s ease-out, opacity .25s ease-in;
}

#portfolio li:hover h6{
  opacity: 1;
}

@media screen and (max-width:1045px){
    #portfolio ol{
        max-width: 762px;
    }
    #portfolio h1{
        padding-bottom:20px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 800px){
    #portfolio ol{
        max-width: 508px;
    }
}

@media screen and (max-width: 540px){
    #portfolio ol{
        max-width: 254px;
    }
}

/* FOOTER */
footer{
    width: 100%;
    background-color: #ffb02f;
    border-top: solid 4px #e67e22;
}

footer ol{
    text-align: center;
}

footer ol li{
    display: inline-block;
    padding: 15px;
}

footer a{
    width: 50px;
    height: 50px;
    display: block;
}

footer img{
  opacity:1;
  -o-transition:color .2s ease-out, opacity .25s ease-in;
  -ms-transition:color .2s ease-out, opacity .25s ease-in;
  -moz-transition:color .2s ease-out, opacity .25s ease-in;
  -webkit-transition:color .2s ease-out, opacity .25s ease-in;
  transition:color .2s ease-out, opacity .25s ease-in;
}

.footer-sprite{
    background-image: url("./images/footer.png");
    background-repeat: no-repeat;
    display: block;
}

footer #git{
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;        
    transition: .25s ease-in-out;
}

footer #git:hover{
    background-position: -5px -65px;
    cursor:pointer;
}

footer #in{
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;        
    transition: .25s ease-in-out;
}

footer #in:hover{
    background-position: -5px -185px;
    cursor:pointer;
}

footer #insta{
    width: 50px;
    height: 49px;
    background-position: -5px -245px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;        
    transition: .25s ease-in-out;
}

footer #insta:hover{
    background-position: -5px -305px;
    cursor:pointer;
}